.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.games {
  display: grid;
  width: 100%;
}

.gameTitle {
  margin: 0 0 40px 0;
}

.author-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  text-align: center;

}

.author-section h3 {
  grid-column: 1 / 4;
}

.thumbnail {
  width: 400px;
  height: auto;
}
